.active{
    color:red;
}
nav{
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
.listCastAndReview{
    border: 1px solid grey;
    padding-top: 20px;
    padding-bottom: 20px;
}
